# Created by https://www.toptal.com/developers/gitignore/api/rust,visualstudio,visualstudiocode

### Rust ###
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

### VisualStudio ###
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
*.obj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
